footer{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            padding-top: 30px;
            li{
                padding: 2rem;
                font-size: 2rem;
            }
        }
        p{
            display: flex;
            flex-wrap: wrap;
            color: $color-gray!important;
            font-size: 2rem;
            width: 300px;
            font-style: italic;
            padding-bottom: 30px;
        }
    }
}